.select-seats-container {
    width: 72%;
    margin-top: 50px;
    padding-bottom: 60px;
}
.select-seats-container h3 { 
    font-size: 1.875rem;
    font-weight: 500;
    text-transform: uppercase;
}
.select-seats-contain {
    margin-top: 50px;
    width: 100%;
    border: 1px solid #c4c4c4;
    position: relative;
}
.select-top-panel {
    background: white;
    height: 60px;
    padding: 19px;
    display: flex;
    align-items: center;
}
.select-top-icon {
    border: 1px solid #292929;
    border-radius: 5px;
    margin-left: 20px;
    background: transparent;
    padding: 10px 15px;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 17px 30px;
}
.select-top-btn {
    width: 76px;
    height: 100%;
    background-image: url('/src/images/Subtract-right.png');
    background-size: contain;
    border: none;
}
.back-btn-ticket {
    transform: rotate(180deg);
    position: relative;
}
.select-seats-information {
    background-color: #f7f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.seat-first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100%;
    padding-left: 35px;
    border-right: 2px solid white;
}
.first-seats-flex {
    width: 100%;
    margin-left: -18%;
}
.select-seats-border {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #ffa800;
    border-radius: 50%;
}
.seats-border-vector {
    position: absolute;
    content: '';
    width: 15.3px;
    height: 20px;
    background-image: url('/src/images/train-mini.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 25%;
    top: 15%;
}
.seats-flex-container {
    margin-left: 10%;
    width: 60%;
}
.seats-train-name {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3E3C41;
    white-space: nowrap;
    margin-bottom: 10px;
}
.seats-line-city-container {
    display: flex;
    align-items: center;
    width: 100px;
    white-space: nowrap;
    text-transform: capitalize; 
}
.seats-arrow-train {
    margin-left: 12px;
    display: block;
    width: 7px;
    height: 6px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(135deg);
}
.seats-arrow-train::after {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: black;
    transform: rotate(-45deg) translate(4.9px, 1px);
    left: 0;
    top: 0;
}
.seat-new-card-container {
    display: flex;
}
.new-card-select {
    width: 50%;
    height: 82%;
    display: flex;
    margin-top: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    border-right: 2px solid white;
}
.seat-third-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-seats-borders {
    margin-left: 15%;
}
.seats-third-vector-time {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: -37px;
    font-size: 1.125rem;
    position: absolute;
    content: '';
    width: 100px;

}
.select-main {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.select-bottom {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    height: 350px;
    background-color: white;
}
.button-next-btns {
    margin-top: 60px;
    margin-bottom: 60px;
    position: absolute;
    content: '';
    right: 7px;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 15px 70px;
    background: #ffa800;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
}
.button-next-btns:focus {
    background: #928F94;
}
.button-next-btns:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}