.general-type-wagons {
    background: white;
}

h4 {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 19px;
    font-family: Roboto-Bold;
    font-size: 1.5rem;
    font-weight: 700;
}