.react-calendar {
    border-radius: 7px;
    background-color: white;
    padding: 3px;
    width: 100%;
}
.react-calendar__navigation {
    height: 20px;
    background-color: white;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    display: none;
}
.react-calendar__navigation__arrow,
.react-calendar__navigation__label {
    background-color: white;
    border: none;
    outline: none;
    font-size: 20px;
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
    font-size: 30px;
}
.react-calendar__month-view__weekdays__weekday {
    display: none;
}
.react-calendar__tile {
    padding: 3px;
    background-color: white;
    border: none;
}
.react-calendar__tile:hover {
    color: #FFA800;
    cursor: pointer;
}
.react-calendar__tile:focus {
    border: 1px solid #FFA800;
    border-radius: 3px;
    background-color: #f8ce7a;
}
.date-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    margin-top: 17px;
}
.data {
    position: relative;
    width: 45%;
    height: 60px;
    padding: 0;
}
.form-input-date {
    width: 90%;
    height: 100%;
    font-size: 1.125rem;
    padding-left: 7px;
    padding-right: 10px;
    padding-left: 20px;
    border-radius: 5px;
}
.form-input-date:focus {
    outline: 2px solid orange;
}
.form-input-date::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.vector-date {
    position: absolute;
    content: '';
    width: 30px;
    height: 33px;
    top: 2px;
    left: 85%;
    background-image: url('/src/images/Vector\ \(1\).png');
    background-repeat: no-repeat;
    margin-top: 10px;
    padding-right: 14px;
}
.hidden-data{
    display: none;
}
.open-calendar {
    display: block;
    z-index: 1;
}