.bottom-form-container {
    width: 50%;
    height: 500px;
    position: relative;
}
.bottom-form-container::before {
    background: rgba(41, 41, 41, 0.8);
    opacity: 0.9;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
}
.bottom-form {
    position: absolute;
    content: '';
    width: 93%;
    margin-left: 3%;
}
.form-direction {
    height: 10px;
    font-size: 1.875rem;
    color: white;
    padding-left: 5px;
    font-weight: 300;
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
}
.city-inputs {
    width: 45%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
}
.form-input {
    padding-left: 7px;
    font-size: 1.125rem;
    width: 97%;
    height: 100%;
    padding-left: 20px;
    border-radius: 5px;
}
.form-input:focus {
    outline: 2px solid orange;
}
.vector-city {
    position: absolute;
    width: 20px;
    height: 30px;
    right: 3px;
    top: 5px;
    background-image: url('/src/images/Vector.png');
    background-repeat: no-repeat;
    padding-right: 17px;
    margin-top: 10px;
}
.search-data {
    margin-top: -28px;
    display: flex;
    justify-content: space-between;
}
.search-blocks {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-button {
    position: absolute;
    content: '';
    top: 78%;
    right: 4%;
    width: 41.5%;
    height: 60px;
    padding: 0 25px;
    background-color: #FFA800;
    font-weight: 800;
    font-size: 1.25rem;
    white-space: nowrap;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.search-button:hover {
    box-shadow: 2px 2px 2px rgb(59, 59, 59);
}
.search-button-active {
    box-shadow: 1px 1px 1px 1px #FFA800;
    background-color: rgba(0, 0, 0, 0);
    color: #FFA800
}
.change-btn {
    border: 1px solid rebeccapurple;
    z-index: -1;
}