.wagons-contain {
   display: flex;
   position: absolute;
   content: '';
   margin-left: 5%; 
}
.tickets-type-wagons {
    background: white;
}
.tickets-type-wagons h4 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

.number-wagon-cards {
    margin-left: 7px;
    font-weight: 700;
    font-size: 1.5rem;
}
.number-wagon-active {
    color: white;
}
.tickets-type-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}
.tickets-type-icon p {
    margin-top: 12px; 
    font-size: 1.5rem;
    color: #928f94;
}
.tickets-type-sedentary {
    background-image: url('/src/images/sedentary.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.type-sedentary-focus {
    background-image: url('/src/images/sedentary-focus.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.tickets-type-reserved {
    background-image: url('/src/images/reserved.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.tickets-reserved-focus {
    background-image: url('/src/images/reserved-focus.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.tickets-type-cupe {
    background-image: url('/src/images/coupe.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.type-cupe-focus {
    background-image: url('/src/images/coupe-focus.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.tickets-type-lux {
    background-image: url('/src/images/lux.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.type-lux-focus {
    background-image: url('/src/images/lux-focus.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.tickets-wagon-information {
    background: #FFD98F;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tickets-wagon-information p { 
    font-size: 1.125rem;
}
.tickets-wagon-column {
    height: 180px;
    display: flex;
}
.wagon-number-information {
    background: #FFD98F;
    width: 11%;
    padding: 34px 5%;
}
.wagon-number-information p {
    align-content: center;
}
.wagon-number-information-first {
    font-size: 4.5rem;
    font-weight: 700;
    align-items: center;
}
.wagon-number-information-second { 
    font-size: 1.5rem;
}
.wagon-information-header {
    width: 80%;
    padding: 20px 30px 10px;
} 
.coach-seats {
    color: black
}
 .wagon-information-titles {
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
}
.wagon-information-titles p { 
    font-size: 1.125rem;
    color: #928F94;
    width: 33.3%;
}
.position-seats {
    font-weight: 700;
}
.wagon-information-main {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
.coach-price {
    font-weight: 700;
}
.vector-ruble {
    font-weight: 400;
    color: #928F94;
}
.wagon-information-left {
    width: 50%;
    margin: 0 20px 10px 10px;
}
.wagon-information-flex {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px 45px 10px 0;
}




.wagon-information-right {
    position: absolute;
    content: '';
    left: 79%
}
.wagon-information-icons-container {
    margin-top: 10px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.wagon-information-icons-container button {
    margin-right: 20px;
}
.wagon-icons-button {
    border: 1px solid #292929;
    width: 36px;
    border-radius: 5px;
    position: relative;
    background-color: transparent;
}
.wagon-icons-element {
    width: 20px;
    height: 22px;
    position: absolute;
    content: '';
    left: 22%;
    top: 22%;
    background-size: contain;
    background-repeat: no-repeat;
}
.conditioner {
    background-image: url('/src/images/Group\ \(6\).png');
}
.option-wifi {
    background-image: url('/src/images/Group\ 8.1.png');
}
.underwear {
    background-image: url('/src/images/Vector\ \(9\).png');
}
.food {
    background-image: url('/src/images/cup-black.png');
}
.wagon-icons-button:hover {
    background-color: #FFA800;
}
.focus-icons {
    border: none;
    background-color: #FFA800;
}
.conditioner-focus {
    background-image: url('/src/images/Group\(6\)-white.png');
}
.option-wifi-focus {
    background-image: url('/src/images/Group\(8\)-white.png');
}
.underwear-focus {
    background-image: url('/src/images/linens-white.png');
}
.food-focus {
    background-image: url('/src/images/cup-white.png');
}
.tooltip {
    background: #E5E5E5;
    border-radius: 5px;
    text-align: center;
    position: relative;
    content: '';
    top: 34px;
    left: -105%;
    width: 110px;
    height: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); 
    font-size: 1rem;
    padding-top: 3px;
}
.tooltip::after {
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-bottom: 5px solid #E5E5E5;
    top: -9px;
    left: 43%;
}
.window-wagon-scheme {
    border-radius: 5px;
    background: #f3f3f3;
    width: 25%;
    margin-left: 70%;
    padding: 0 10px;
    margin-top: 50px;
}
.absolute-number {
    position: absolute;
    content: '';
    z-index: 1;
    left: 32.5%;
    width: 45px;
    height: 27px;
    background-color: rgb(53, 53, 53);
    color: white;
    align-items: center;
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
}
.wagon-scheme-main {
    width: 67%;
    position: absolute;
    content: '';
    left: 29.8%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
.first-class-type {
    background-image: url('/src/images/coach-first.png');
}
.second-class-type {
    background-image: url('/src/images/image_second_class_wagon.svg');
}
.third-class-type {
    background-image: url('/src/images/image_third_class_wagon.svg');
}
.fourth-class-type {
    background-image: url('/src/images/image_fourth_class_wagon.svg');
}
.seats-con-first, .seats-con-second, .seats-con-third .seats-con-fourth {
    display: none;
}
.seats-con-first-open, .seats-con-second-open, .seats-con-third-open, .seats-con-fourth-open {
    position: absolute;
    content: '';
    margin-top: 30px;
    margin-left: -75px;
    height: 120px;
    width: 760px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.seats-con-column {
    width: 12.3%;
    display: flex;
    justify-content: space-between;
}
.seats-con-columns {
    width: 32%;
    height: 56%;
    /* background-color: rgb(237, 234, 234); */
    border: none;
}
.seats-free {
    background-color: rgb(239, 232, 232);
}
.seats-free:hover {
    outline: 2px solid #FFA800;
}
.seats-con-columns-number {
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
}
.seats-notfree {
    background-color: rgb(166, 162, 162);
    color: white
}
.btn-selected-seats {
    background: #FFA800;
}
.seats-con-column-second {
    height: 60px;
    width: 12%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.side-coupe {
    width: 4%;
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-coupe:nth-child(2n) {
    margin-left: 4%;
}
.seats-con-colu {
    width: 100%;
}

.third-col-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

}
.seats-con-column-third {
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.side-reserved {
    height: 99%;
    width: 12%;
    display: flex;
    flex-direction: column;
}
 .side-reserved {
    display: flex;
    justify-content: space-between;
} 
.side-reserved:nth-child(2n) {
    align-items: flex-end;
}
.seats-con-colu-third {
    margin-top: 2px;
    width: 60%;
    height: 55%;
    border: none;
    margin-right: 2px;
}
.seats-con-col-side {
    width: 50%;
    height: 100%;
    border: none;
}
.col-side-seats-reserved {
    height: 30px;
    display: flex;
   
}
.side-reserved-bottom {
    width: 12%;
    margin-right: 0.5%;
    display: flex;
    justify-content: space-between;
}
.seats-con-colu-bottom {
    width: 50%;
    height: 98%;
    border: none;
}
.seats-con-colu-bottom:nth-child(1n) {
    margin-right: 0.5%;
}
.seats-con-column-fourth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.even-container, .odd-container {
    padding-left: 10px;
    width: 100%;
    height: 50%;
    margin: 5px auto;
}
.seats-col-even, .seats-col-odd {
    display: flex;
    justify-content: space-between;
    width: 96%;
}
.side-sedentary-first {
    justify-content: flex-end;
    display: flex;
    margin-right: 0;
}
.side-sedentary-first:first-child {
    margin-left: 6.5%;
}
.side-sedentary-first:last-child {
    margin-right: 6.5%;
}
.seats-con-colu-fourth {
    width: 30px;
    height: 24px;
    
}
.result-price-seats {
    position: absolute;
    right: -10%;
    top: 130%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFA800;
}
.open-coach-first-price {
    margin-left: 77%;
    margin-top: -30px;
}